<ion-app>
  <!-- <ion-split-pane> -->
    <ion-menu type="reveal">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-item color="primary" lines="none">
            <ion-avatar slot="start"><img src="https://dummyimage.com/600x400/000/fff"></ion-avatar>
            <ion-label>
              <h3><b>Full Name</b></h3>
             
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header> -->
      <ion-content class="app-menu">
        <ion-list lines="none" class="ion-no-padding">
          <ion-item class="ion-margin" color="primary" lines="none">
            <ion-avatar slot="start"><img src="https://dummyimage.com/100x100/000/fff"></ion-avatar>
            <ion-label>
              <h3><b>Full Name</b></h3>

            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="primary" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" color="light" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>