 .order {
    margin: 8px;
    background: #fff;
  }
  
  .price {
    //font-weight: bold;
    color: grey;
    font-size: .8em !important;
  }
  .pricex {
    //font-weight: bold;
    color: red;
    font-size: 1em ;
    font-weight: bold;
  }
  
  .price-label {
    font-size: 0.7em;
    text-transform: uppercase;
    margin-right: 40px;
  }
  
  .small-thumb {
    height: 40px;
    width: 40px;
  }
  
  ion-item ion-badge {
    font-size: 0.7em;
  }
  
  h3 {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0px;
    color: black;
  }
  p {
    margin: 0px;
    font-size: 0.7em !important;
    color: black;
  }
  

  ion-button{
    text-transform: capitalize;
    font-size: .7em;
    --border-width:1px;
    margin: 0xp;
}

ion-icon {
    background: var(--ion-color-primary);
    margin-right: 4px;
    padding: 2px;
  }

  .count {
    color: rgb(179, 179, 179);
    font-size: 0.8em;
  }