<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Coupons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center back">
    <ion-col size-xl="6" size-lg="8">
      <ion-list>
        <ion-row class="coupon">
          <ion-col class="coupon-image" size="4">
            <img src="https://dummyimage.com/150x100/000/fff">
          </ion-col>
          <ion-col class="coupon-text" size="8">

            <p class="code">1c12343</p>
            <h2 text-wrap class="title">Restaurant title</h2>
            <p class="date"> Valid till 09/02</p>
          </ion-col>
        </ion-row>
        <ion-row class="coupon">
          <ion-col class="coupon-image" size="4">
            <img src="https://dummyimage.com/150x100/000/fff">
          </ion-col>
          <ion-col class="coupon-text" size="8">

            <p class="code">1c12343</p>
            <h2 text-wrap class="title">Restaurant title</h2>
            <p class="date"> Valid till 09/02</p>
          </ion-col>
        </ion-row>
        <ion-row class="coupon">
          <ion-col class="coupon-image" size="4">
            <img src="https://dummyimage.com/150x100/000/fff">
          </ion-col>
          <ion-col class="coupon-text" size="8">

            <p class="code">1c12343</p>
            <h2 text-wrap class="title">Restaurant title</h2>
            <p class="date"> Valid till 09/02</p>
          </ion-col>
        </ion-row>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>