<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row class="ion-justify-content-center back">
    <ion-col size-xl="6" size-lg="8">

      <div class="heading-1">
        Popular Cousines
      </div>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card class="card ion-no-margin">
              <img src="https://dummyimage.com/600x400/000/fff">
              <ion-card-content class="ion-no-padding">
                <div class="card-title">Cuisine</div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-col>
  </ion-row>
</ion-content>