<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Method</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>



  <ion-row class="ion-justify-content-center back">
    <ion-col size-xl="6" size-lg="8">

      <div class="heading-1">
        Available
      </div>

      <ion-list lines="none">
          <ion-radio-group>
        <ion-item>
          <ion-thumbnail slot="start"><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
          <ion-label>
            <h3>Debit card 1</h3>
          </ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
          <ion-label>
            <h3>Debit card 2</h3>
          </ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
          <ion-label>
            <h3>Credit card</h3>
          </ion-label>
          <ion-radio slot="end" ></ion-radio>
        </ion-item>
      </ion-radio-group>

      </ion-list>


      <div class="heading-1">
        More Options
      </div>

      <ion-list lines="none">


        <ion-item detail="true">
          <ion-icon name="ios-card" slot="start"></ion-icon>
          <ion-label>
            <h3>add credit/ Debit card</h3>
          </ion-label>
        </ion-item>
      </ion-list>




    </ion-col>
  </ion-row>

</ion-content>