<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="heading-1">
    Restaurants Nearby
  </div>


  <ion-list class="ion-no-padding">
      <div class="restaurant">
        <ion-row>
          <ion-col class="ion-no-padding restaurant-header">
            <img src="https://dummyimage.com/600x200/000/fff">
          </ion-col>
          <!-- <ion-col class="ion-text-center">
              <ion-thumbnail><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
            </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-thumbnail slot="start"><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
              <ion-label>
                <h3>Restaurant Title</h3>
                <p>Category</p>
                <p>
                  <ion-icon name="logo-usd" color="warning"></ion-icon>
                  <ion-icon name="logo-usd" color="warning"></ion-icon>
                  <ion-icon name="logo-usd" color="warning"></ion-icon>
                </p>
              </ion-label>
            </ion-item>
  
          </ion-col>
        </ion-row>
        <ion-row class="info-buttons">
          <ion-col class="ion-text-left" size="4">
            <ion-button color="dark" fill="clear">
              <ion-icon slot="start" size="small" name="ios-pin"></ion-icon>2 miles
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-left" size="4">
            <ion-button color="dark" fill="clear">
              <ion-icon slot="start" size="small" name="ios-alarm"></ion-icon>20-40 mins
            </ion-button>
  
          </ion-col>
          <ion-col class="ion-text-right" size="4">
            <ion-button color="danger" fill="clear">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              (5.0)
            </ion-button>
  
          </ion-col>
        </ion-row>
  
      </div>
  
      <div class="restaurant">
        <ion-row>
          <ion-col class="ion-no-padding restaurant-header">
            <img src="https://dummyimage.com/600x200/000/fff">
          </ion-col>
          <!-- <ion-col class="ion-text-center">
                <ion-thumbnail><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
              </ion-col> -->
        </ion-row>
        <ion-row>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-thumbnail slot="start"><img src="https://dummyimage.com/600x400/000/fff"></ion-thumbnail>
              <ion-label>
                <h3>Restaurant Title</h3>
                <p>Category</p>
                <p>
                  <ion-icon name="logo-usd" color="warning"></ion-icon>
                  <ion-icon name="logo-usd" color="warning"></ion-icon>
                  <ion-icon name="logo-usd" color="warning"></ion-icon>
                </p>
              </ion-label>
            </ion-item>
  
          </ion-col>
        </ion-row>
        <ion-row class="info-buttons">
          <ion-col class="ion-text-left" size="4">
            <ion-button color="dark" fill="clear">
              <ion-icon slot="start" size="small" name="ios-pin"></ion-icon>2 miles
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-left" size="4">
            <ion-button color="dark" fill="clear">
              <ion-icon slot="start" size="small" name="ios-alarm"></ion-icon>20-40 mins
            </ion-button>
  
          </ion-col>
          <ion-col class="ion-text-right" size="4">
            <ion-button color="danger" fill="clear">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              (5.0)
            </ion-button>
  
          </ion-col>
        </ion-row>
  
      </div>
    </ion-list>




</ion-content>