<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button>Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>



  <ion-row class="ion-justify-content-center back">
    <ion-col size-xl="6" size-lg="8">



      <ion-row>
        <ion-col class="ion-text-center ion-padding">
          <img class="profile-image" src="https://dummyimage.com/150x150/000/fff">
          <h3 class="heading-1">Change Avatar</h3>
        </ion-col>
      </ion-row>


      <!-- <div class="heading-1">
          More Options
        </div> -->

      <ion-list lines="none">
        <ion-item>
          <ion-icon name="ios-person" slot="start"></ion-icon>
          <ion-input value="Full Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="ios-mail" slot="start"></ion-icon>
          <ion-input value="name@mail.com" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="ios-call" slot="start"></ion-icon>
          <ion-input value="(000) 1234 1234"></ion-input>
        </ion-item>

        <ion-item detail="true">
          <ion-icon name="ios-lock" slot="start"></ion-icon>
          <ion-label>
            <h3>Change password</h3>
          </ion-label>
        </ion-item>

      </ion-list>

    </ion-col>
  </ion-row>

</ion-content>