
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


    @using (Html.BeginForm("LoginUser", "Account", FormMethod.Get))
    {
        
    <div >
            @Html.TextBox("userName")
            <input type="password" value="PassWord" name="Password" />
            <input type="submit" value="Login" />
    </div>
    }